<h1>%best_items%</h1>

<h2>%weapon%:</h2>

<table width="100%">
    <tr >
        <th width="30px">#</th>
        <th width="400px">%weapon%</th>
        <th>%owner%</th>
    </tr>
    $best_weapons_entries$
</table>

<h2>%equipment%:</h2>

<table width="100%">
    <tr >
        <th width="30px">#</th>
        <th width="400px">%equipment%</th>
        <th>%owner%</th>
    </tr>
    $best_equipment_entries$
</table>

<h2>%skillcards%:</h2>

<table width="100%">
    <tr >
        <th width="30px">#</th>
        <th width="400px">%skillcard%</th>
        <th>%owner%</th>
    </tr>
    $best_skillcard_entries$
</table>

<br>
