<tr>
    <td>
        $summon_formation$
    </td>
    <td style="text-align: left">
        $summon_icon_text$
    </td>
    <td>
        $summon_level_overbreed$
    </td>
    <td>
        $summon_tier$
    </td>
    <td>
        <div style="position: relative; height: 36px;">
            <div class="inventory_image" style="top: 1px; left: 1px;">$wear_slot-0$</div>
            <div class="inventory_image" style="top: 1px; left: 44px;">$wear_slot-1$</div>
            <div class="inventory_image" style="top: 1px; left: 86px;">$wear_slot-2$</div>
            <div class="inventory_image" style="top: 1px; left: 128px;">$wear_slot-3$</div>
            <div class="inventory_image" style="top: 1px; left: 170px;">$wear_slot-4$</div>
            <div class="inventory_image" style="top: 1px; left: 212px;">$wear_slot-5$</div>
        </div>
    </td>
</tr>