<h1>%guild%: $guild_name$</h1>


<table id="characterInfo" width="100%">

    <tr>
        <td class="firstCol" width="250px">%leader%</td>
        <td><b>$leader_text_tooltip$</b></td>
    </tr>
    <tr>
        <td class="firstCol">%number_member%</td>
        <td><b>$num_member$</b></td>
    </tr>
    <tr>
        <td class="firstCol">%average_level%</td>
        <td><b>$avg_member_level$</b></td>
    </tr>
    <tr>
        <td class="firstCol">%owned_dungeon%</td>
        <td><b>$dungeon_name$</b></td>
    </tr>

</table>

<h2>%member%:</h2>

<table width="100%">

    <tr>
        <th width="30px">#</th>
        <th style="text-align: left;">%character%</th>
        <th width="100px">%level%</th>
    </tr>

    $member_entries$

</table>

<br>
