<h1>%server_statistics%</h1>

<table id="characterInfo" width="100%">
    <tr>
        <td class="firstCol" width="250px">%total_accounts%</td>
        <td>$total_accounts$</td>
    </tr>
    <tr>
        <td class="firstCol">%total_character%</td>
        <td>$total_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%online_player%</td>
        <td>$online_player$</td>
    </tr>
    <tr>
        <td class="firstCol">%active_character%</td>
        <td>$active_character$</td>
    </tr>
</table>
<br>
<table id="characterInfo" width="100%">
    <tr>
        <td class="firstCol" width="250px">%total_guilds%</td>
        <td>$total_guilds$</td>
    </tr>
    <tr>
        <td class="firstCol">%total_alliance%</td>
        <td>$total_alliance$</td>
    </tr>
    <tr>
        <td class="firstCol">%current_parties%</td>
        <td>$current_parties$</td>
    </tr>
</table>

<h2>%character%</h2>

<table id="characterInfo" width="100%">
    <tr>
        <td class="firstCol" width="250px">%gaia%</td>
        <td>$total_gaia_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%deva%</td>
        <td>$total_deva_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%asura%</td>
        <td>$total_asura_character$</td>
    </tr>
</table>
<br>
<table id="characterInfo" width="100%">
    <tr>
        <td class="firstCol" width="250px">%rank% 7</td>
        <td>$total_r7_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%rank% 6</td>
        <td>$total_r6_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%rank% 5</td>
        <td>$total_r5_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%rank% 4</td>
        <td>$total_r4_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%rank% 3</td>
        <td>$total_r3_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%rank% 2</td>
        <td>$total_r2_character$</td>
    </tr>
    <tr>
        <td class="firstCol">%rank% 1</td>
        <td>$total_r1_character$</td>
    </tr>
</table>

<h2>%pets%</h2>

<table id="characterInfo" width="100%">
    <tr>
        <td class="firstCol" width="250px">%total_tamed_pets%</td>
        <td>$total_tamed_pets$</td>
    </tr>
</table>
<br>
<table id="characterInfo" width="100%">
    <tr>
        <td class="firstCol" width="250px">%evo_level% 3</td>
        <td>$total_pets_evo3$</td>
    </tr>
    <tr>
        <td class="firstCol">%evo_level% 2</td>
        <td>$total_pets_evo2$</td>
    </tr>
    <tr>
        <td class="firstCol">%evo_level% 1</td>
        <td>$total_pets_evo1$</td>
    </tr>
</table>
<br>
<table id="characterInfo" width="100%">
    <tr>
        <td class="firstCol" width="250px">%pet_tier% 6 (%pet_tier-5%)</td>
        <td>$total_pets_tier6$</td>
    </tr>
    <tr>
        <td class="firstCol">%pet_tier% 5 (%pet_tier-4%)</td>
        <td>$total_pets_tier5$</td>
    </tr>
    <tr>
        <td class="firstCol">%pet_tier% 4 (%pet_tier-3%)</td>
        <td>$total_pets_tier4$</td>
    </tr>
    <tr>
        <td class="firstCol">%pet_tier% 3 (%pet_tier-2%)</td>
        <td>$total_pets_tier3$</td>
    </tr>
    <tr>
        <td class="firstCol">%pet_tier% 2 (%pet_tier-1%)</td>
        <td>$total_pets_tier2$</td>
    </tr>
    <tr>
        <td class="firstCol">%pet_tier% 1 (%pet_tier-0%)</td>
        <td>$total_pets_tier1$</td>
    </tr>
</table>

<br>
